* {
  font-family: 'Inter';
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: #0B2434;
  margin: auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

main {
  background-color: #cac3c3;
  height: 100vh;
  width: 600px;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px 0px rgb(69, 51, 51);
}

.container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 30px;
  justify-items: center;
  place-items: center;
  margin: 2% auto;
}

.img {
  width: 500px;
  height: 300px;
  border-radius: 6px;
  display: flex;
  align-self: center;
  justify-content: center;
}

.face {
 height: 50px;
 width: 50px;
 box-shadow: 0px 5px 5px rgba(48, 21, 21, 0.15);
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 cursor: pointer;
}

.face:hover {
  color: rgb(141, 159, 159);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dice-num {
  font-size: 1.5rem;
}

.btn {
  width: 250px;
  padding: 10px;
  margin-top: 3%;
  color: #fff;
  background-color: rgb(20, 20, 125);
  cursor: pointer;
  font-size: 1.3rem;
  border-radius: 6px ;
  border: none;
  margin-bottom: 0;
}

.btn:hover {
  outline: none;
  background: rgb(9, 9, 62);
}

.btn:active {
  box-shadow: inset 5px 5px 10px -3px white;
}

.title {
  font-size: 2rem;
  margin: 1% 0 3% 0;
}

.inst {
  font-family: Tahoma;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
  font-size: .9rem;
}

.made {
  padding-bottom: 0;
  margin-bottom: 6px;
  border-bottom: 0;
  font-size: .6rem;
  color: black;
  font-weight: 600;
}

@media screen and (max-width: 720px) {
  main {
    height: 100vh;
    width: 550px;
  }
  
.container {
  display: grid;
  grid-template: auto auto / repeat(5, 2fr);
  gap: 25px;
  justify-content: space-evenly;
  height: 100%;

}
.dice-num {
  font-size: 1.2rem;
}
.btn {
  width: 210px;
  padding: 6px;
  margin: 2%;
  border-top: 1rem;
  color: #fff;
  background-color: blue;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 6px ;
  border: none;
}
img {
  width: 100%;
  margin: auto 4%;
  border-radius: 6px;
}
}

@media screen and (max-width: 480px) {
  main {
    height: 100vh;
    width: 400px;
  }
  .title {
    font-size: 1.8rem;
    margin: 3% 0 1% 0;
  }
  .container {
    gap: 4px;
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    margin: auto 2%;
    border-radius: 6px;
  }
  .face {
    height: 60px;
    width: 60px;
  }
  .btn {
    width: 250px;
    margin: 1% auto 1% auto;
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 350px) {
  main {
    height: 100vh;
    width: 300px;
  }
  img {
    width: 180px;
    margin: auto 1%;
    border-radius: 3px;
  }
  .container {
    gap: 6px;
    margin: 5% auto;
  }
  .face {
    height: 40px;
    width: 40px;
  }
}