* {
  font-family: 'Inter';
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: #0B2434;
  margin: auto 10%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

main {
  background-color: #cac3c3;
  height: 500px;
  max-width: 600px;
  border-radius: 5px;
  padding: 20px;
  margin: 5% 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px 0px rgb(69, 51, 51);

}

.container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 15px;
  justify-items: center;
  place-items: center;
}

.img {
  max-width: 300px;
  border-radius: 6px;
  display: flex;
  max-height: 215px;
  align-self: center;
  justify-content: center;
  margin: 2%;
}

.face {
 height: 50px;
 width: 50px;
 box-shadow: 0px 5px 5px rgba(48, 21, 21, 0.15);
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 cursor: pointer;
}

.face:hover {
  color: rgb(141, 159, 159);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dice-num {
  font-size: 1.5rem;
}

.btn {
  width: 170px;
  padding: 10px;
  margin-top: 3%;
  color: #fff;
  background-color: rgb(20, 20, 125);
  cursor: pointer;
  font-size: .9rem;
  border-radius: 6px ;
  border: none;
  margin-bottom: 0;
}

.btn:hover {
  outline: none;
  background: rgb(9, 9, 62);
}

.btn:active {
  box-shadow: inset 5px 5px 10px -3px white;
}

.title {
  font-size: 2rem;
  margin: 3% 0 0 0;
}

.inst {
  font-family: Tahoma;
  font-weight: 540;
  text-align: center;
  line-height: 20px;
  font-size: .8rem;
}

.made {
  padding-bottom: 0;
  margin-bottom: 6px;
  border-bottom: 0;
  font-size: .6rem;
  text-decoration-line: none;
}

@media screen and (max-width: 720px) {
  main {
    margin: 5% 5%;
  }
.container {
  display: grid;
  grid-template: auto auto / repeat(5, 2fr);
  gap: 7px;
  justify-content: space-evenly;
}
.face {
  height: 40px;
  width: 40px;
  font-size: 1rem;
}
.dice-num {
  font-size: .9rem;
}
.btn {
  width: 150px;
  padding: 6px;
  margin: 2%;
  border-top: 1rem;
  color: #fff;
  background-color: blue;
  cursor: pointer;
  font-size: .7rem;
  border-radius: 6px ;
  border: none;
}
img {
  max-width: 300px;
  margin: auto 4%;
  border-radius: 6px;
}
}

@media screen and (max-width: 580px) {
  main {
    margin: 5% 5%;
  }
  img {
    max-width: 180px;
    margin: auto 6%;
    border-radius: 6px;
  }
}